@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,800&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');


.html,body{
  scroll-behavior: smooth;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.sidebar{
background-color: #001320;
}

#content{
    color: #001320;
}

.nav-items a{
    color: #fff;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: 
  #fff;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: 
  #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .custom-btn {
    background-color: #001420;
    color: #fff;
  }

  .custom-btn:hover {
    background-color: #001420;
    color: #fff;
  }

  tbody th{
    letter-spacing: 1px;
  }



  

