@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;550&display=swap');


.html,body{
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;}

.sidebar{
  background: #001233;
}
#content{
    color: #001233;
}

.nav-items a{
    color: #fff;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: 
  #fff;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: 
  #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav-link{
    color: #125dad;
}

  .custom-btn {
    background-color: #002855;
    color: #fff;
  }

  .custom-btn:hover {
    background-color: #023E7D;
    color: #fff;
  }

  tbody th{
    letter-spacing: 1px;
  }

  #informazioni_personali{
    background: hsla(219, 100%, 10%, 1);
    background: linear-gradient(45deg, hsla(219, 100%, 10%, 1) 0%, hsla(211, 97%, 25%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(219, 100%, 10%, 1) 0%, hsla(211, 97%, 25%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(219, 100%, 10%, 1) 0%, hsla(211, 97%, 25%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#001233", endColorstr="#023E7D", GradientType=1 );
    box-shadow: 0px 16px 32px rgba(4, 102, 200, 0.15);
    border-radius: 22px;
    color: #fff;
    position: relative;
  }

  #informazioni_personali .matricola{
    letter-spacing: 1px;
  }

  #informazioni_personali img{
    display: hidden;
    width: 300px;
    position: absolute;
    bottom: -20px;
    left: 70%;
  }



  

